*,     /*on appel cela un reset on enléve tout*/
::before,
::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}

body{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    height: 60vh;/*je suis centré sur 60vh*/
}







/*First*/
.slide-line {

font-family: sans-serif;
font-size: 50px;
text-decoration: none;
color: #222;
position: relative;/*parce-que je vais avoir des enfants en absolut*/
}

.slide-line::before {
    content:""; /*je l'instancie*/
    position: absolute;
    background: #222;
    width: 100%;
    height: 3px;
    bottom: 0;
    transform-origin: 100% 0;/*sur x et y*/
    transform: scaleX(0);/*enleve tout la largeur de notre ligne*/
    transition: transform 0.4s;
}
/*quand on va en hover la speudo class before s'enclenche*/
.slide-line:hover::before { 
transform-origin: 0 0; /*à patir de la gauche*/
transform: scaleX(1);/*va grandir notre ligne*/
}


/*Second*/
 .slide-link {
font-family:"Staatliches";
overflow: hidden;/*tout ce qui dépasse de overflow disparait*/
position: relative;
font-size: 50px;
color: #222;


 }

 .slide-link span {
     padding: 10px;
     display: inline-block;/*j'utilise inline-block permet de travailler avec transform pour mes span qui sont de type inline*/
     transition: transform 0.3s
      ease-out;
 }

 .slide-link span:nth-child(2){/*je solicite le 2iem enfant*/
position: absolute;
width: 100%;
text-align: center;
left: 100%;
 }

 .slide-link:hover span {
     transform: translateX(-100%);
 }


 /*Third*/

 .two-lines {
      
    font-size: 50px;
    text-decoration: none;
    position: relative;
    color: #222;

 }

 .two-lines::before,
 .two-lines::after {
     content: "";
     position: absolute;
     height: 2px;
     background: #222;
     opacity: 0;
     left: 50%;
     transform: translate(-50%, 10px);
     transition: all 0.2s 
     ease-in-out;
 }

 .two-lines::before {
     width: 90%;
     bottom: 0;

 }

 .two-lines::after {
     width: 60%;
     bottom: -7px;
 }

 .two-lines:hover::before,
 .two-lines:hover::after {
      
     opacity: 1;
    
     transform: translate(-50%, 0px);
     
 }

 .two-lines::before,
 .two-lines:hover::after{
transition-delay: 0.1s;

 }

 .two-lines:hover::before {
     transition-delay: 0s;
 }